<div class="col-md-6">
    <div class="card-body">
        <form [formGroup]="classroomForm" (ngSubmit)="onSubmit(classroomForm.value)">
            <div class="form-group">
                <label >Номер аудитории</label>
                <input type="text" formControlName="number"
                       class="form-control"  placeholder="Введите номер аудитории">

                <p *ngIf="!classroomForm.get('number').valid
                && classroomForm.get('number').touched" class="alert alert-danger">
                    Поле обязательно для заполнения. Введите номер аудитории!</p>
            </div>

            <div class="form-group">
                <label>Тип аудитории</label>
                <ng-select
                        [items]="typesOfClassroom"
                        bindLabel="value"
                        bindValue="id"
                        [multiple]="false"
                        placeholder="Выберите тип аудитории"
                        clearAllText="Clear"
                        formControlName="typeOfClassroom"
                >
                </ng-select>

            </div>

            <div class="form-group">
                <label>Цвет аудитории</label>
                <input class="form-control"
                       [style.background]="color"
                       [cpOKButton]="true"
                       [cpSaveClickOutside]="false"
                       [cpOKButtonClass]= "'btn btn-primary btn-xs'"
                       [cpCancelButton]="true"
                       [cpCancelButtonClass]= "'btn btn-primary btn-xs'"
                       [cpCancelButtonText]="'Отмена'"
                       [(colorPicker)]="color"
                       />

            </div>
            <button type="submit" [disabled]="!classroomForm.valid" class="btn btn-info">Добавить</button>
            <button type="button" class="btn btn-warning"  (click)="gotoClassroomList()">Отмена</button>

        </form>
    </div>
</div>

