<div class="container-fluid">

    <div class="row" >
        <div class="col-sm-12" >
            <h3>Курсы</h3>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-sm">
            <button class="btn-add" title="Добавить" (click)="onAdd()" > <span class="oi oi-plus"></span> Добавить </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <table class="table table-active">
                <thead class="thead-light">
                <tr>

                    <th>№</th>
                    <th>Краткое наименование курса</th>
                    <th>Полное наименование курса</th>
                    <th>Количество часов в курсе</th>
                    <th></th>

                </tr>
                </thead>


                <tbody>
                <ng-template ngFor let-course [ngForOf]="courses" let-i="index"
                >
                    <tr>

                        <td scope="row"> {{i+1}}</td>

                        <td>{{course.shortCourseName}} </td>
                        <td>{{course.courseName}}</td>
                        <td>{{course.numberOfHours}}</td>
                        <td class="td-p-4">
                            <button class="btn-edit" title="Редактировать" [routerLink]="['edit', course.id]" >
                                <span class="oi oi-pencil"></span>
                            </button>
                            <button class="btn-delete" title="Удалить" (click)="onDeleteCourse(course)">
                                <span class="oi oi-trash"></span>
                            </button>
                        </td>
                    </tr>
                </ng-template>

                </tbody>
            </table>
        </div>

    </div>
</div>
<br>
<br>
<br>



