<div class="card my-10">
    <div class="card-body">
        <form [formGroup]="courseForm" (ngSubmit)="onSubmit(courseForm.value)">
            <div class="form-group">
                <label >Наименование учебного плана</label>
                <input type="text" formControlName="description"
                       class="form-control"  placeholder="Введите наименование учебного плана">

                <p *ngIf="!courseForm.get('description').valid
                    && courseForm.get('description').touched" class="alert alert-danger">
                    Поле обязательно для заполнения. Введите наименование учебного плана!</p>
             </div>


            <!--<div class="form-group">
                <label>Количество часов в курсе</label>
                <input type="text" formControlName="numberOfHours"
                       class="form-control"  placeholder="Введите количество часов в курсе">

            </div>-->
            <button type="submit" [disabled]="!courseForm" class="btn btn-info">Добавить</button>
            <button type="button" class="btn btn-warning"  (click)="gotoCoursesList()">Отмена</button>

        </form>
    </div>
</div>


