<div class="col-sm-12">
    <form [formGroup]="teacherEditDisciplinesForm">
        <div class="col-sm-6">
            <p>Добавьте или удалите предметы для преподавателя: </p>
            <hr>
                <p><b>ФИО преподавателя:</b> {{lastName}} {{firstName}} {{patronymic}}</p>
                <p><b>Вид занятости:</b> {{typeOfEmployment}}</p>
            <hr>
            <div class="form-row">
                <div class="col-md form-group">
                    <label >Добавить новые предметы преподавателю</label>
                    <ng-select formControlName="disciplinesData"
                               [items]="disciplines"
                               bindLabel="shortDisciplineName"
                               bindValue="id"
                               [multiple]="true"
                               placeholder="Выберите один или несколько предметов, которые ведет преподаватель"
                               clearAllText="Clear"
                    >
                    </ng-select>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md form-group">
                    <label>Выбранные предметы преподавателя</label>
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item d-flex justify-content-between align-items-center"
                            *ngFor="let disc of selectedDisciplines">
                            {{disc.shortDisciplineName}}
                            <span class="badge badge-pill"><button class="btn btn-danger btn-sm"
                                                                   (click)="onDeleteSelectedDiscipline(disc.id)">Удалить</button></span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="form-row">
            <div class="col-md form-group">
                <br>
                <button type="submit" (click)="onSubmit()" class="btn btn-info">Сохранить</button>
                <button type="button" class="btn btn-warning"  (click)="gotoTeacherList()">Отмена</button>
            </div>
        </div>
    </form>
</div>

<br>
<br>




