<div class="container-fluid">
    <h4 class="text-center">Добро пожаловать в приложение "Расписание!"</h4>


    <div>
        <full-calendar

                #calendar
                defaultView="timeGridWeek"
                [plugins]="calendarPlugins"
                locale="ru"
                timeZone="local"

                defaultDate="2019-09-29"
                [editable]="false"
                [selectable]="true"
                [events]="calendarEvents"
                [minTime]="'08:00'"
                [maxTime]="'22:00'"
                [allDaySlot]="false"
                [slotEventOverlap]="false"
                [slotLabelFormat]="slotLabelFormat"
                [slotLabelInterval]="'00:20'"
                [slotDuration]="'00:20'"
                [firstDay]="1"
                [weekends]="true"
                [header]="header"
                [buttonText]="buttonText"
                [height]="parent"
                (dateClick)="handleDateClick($event)"
                (eventMouseEnter)="eventRender($event)"
                (eventMouseLeave)="handleEventMouseLeave($event)"
                (datesRender)="getDaysPeriod($event)"
        ></full-calendar>
    </div>
</div>
