<div class="container-fluid">
    <h4 class="text-center">Добро пожаловать в приложение "Расписание!"</h4>


    <div>
        <full-calendar

                #calendar
                defaultView="timeGridWeek"
                [plugins]="calendarPlugins"
                locale="ru"
                timeZone="local"


                [editable]="true"
                [selectable]="true"
                [eventSources]="calendarEvents"
                [minTime]="'08:00'"
                [maxTime]="'22:00'"
                [allDaySlot]="false"
                [slotEventOverlap]="false"
                [slotLabelFormat]="slotLabelFormat"
                [slotLabelInterval]="'00:30'"
                [slotDuration]="'00:30'"
                [firstDay]="1"
                [weekends]="true"
                [header]="header"
                [buttonText]="buttonText"
                [height]="parent"
                (dateClick)="handleDateClick($event)"
                (eventMouseover)="MouseOver($event)"

        ></full-calendar>
    </div>
</div>
<br>
<br>
<br>
