
<div class="flex-container">
    <div class="row">
        <div class="space col-md-2"  #external>
            <p>Занятия:</p>
            <div class="fc-event" ngDraggable [zIndex]="99999" [zIndexMoving]="99999" [trackPosition]="false"
                 style="display: block; margin: 1em 0; padding: 0.5em; cursor: move;"
                 *ngFor="let event of events" [attr.data-event]="getEvent(event)">
                {{event.title}}
            </div>
            <!--<div style="border: 1px solid black">{{event.number}}</div>-->
        </div>
        <div class="col-md-10">
            <full-calendar
                    #fullcalendar


                    schedulerLicenseKey="GPL-My-Project-Is-Open-Source"
                    defaultView="resourceTimeGridDay"
                    defaultDate="2019-09-30"
                    resourceLabelText="Rooms"
                    [resources]="resources"

                    [views]="views"
                    [plugins]="plugins"
                    locale="ru"
                    timeZone="local"
                    [datesAboveResources]="true"
                    [editable]="true"
                    [selectable]="true"
                    [droppable]="true"
                    [events]="calendarEvents"
                    [minTime]="'08:00'"
                    [maxTime]="'22:00'"
                    [allDaySlot]="false"
                    [slotEventOverlap]="false"
                    [slotLabelFormat]="slotLabelFormat"
                    [slotLabelInterval]="'00:15'"
                    [slotDuration]="'00:05'"
                    [firstDay]="1"
                    [weekends]="true"
                    [header]="header"
                    [buttonText]="buttonText"
                    [height]="parent"
                    (eventClick)="eventClick($event)"
                    (eventMouseEnter)="eventRender($event)"
                    (eventMouseLeave)="handleEventMouseLeave($event)"
                    (datesRender)="getDaysPeriod($event)"
                    (eventReceive)="eventReceive($event)"
                    (eventDrop)="eventDrop($event)"
                    (dateClick)="handleDateClick($event)"

            ></full-calendar>
        </div>

    </div>
</div>
