<div class="container">
    <div class="col-md">
        <label>Назначение роли пользователю</label>
        <hr>
        <p><b>Пользователь:</b> {{usernme}}</p>

        <form [formGroup]="UserRoleForm">


            <div class="form-group">
                <label>Форма образования </label>
                <ng-select
                        [items]="typesOfEducation"
                        bindLabel="value"
                        bindValue="id"
                        [multiple]="false"
                        placeholder="Выберите форму образования"
                        clearAllText="Clear"
                        formControlName="typeOfEducation"
                >
                </ng-select>
            </div>

            <button type="submit" [disabled]="!studentsAddForm" (click)="onAdd()" class="btn btn-info">Добавить</button>
            <button type="button" class="btn btn-warning"  (click)=" gotoGroupsList()">Отмена</button>

            <div class="form-row">
                <div class="col-md form-group">
                    <label>Текущие записи:</label>
                    <table class="table table-active">
                        <thead class="thead-light">
                        <tr>

                            <th>№</th>
                            <th>Дата</th>
                            <th>Подгруппа</th>
                            <th>Количество студентов</th>
                            <th></th>

                        </tr>
                        </thead>
                        <tbody>
                        <ng-template ngFor let-numberOfStudents [ngForOf]="numbersOfStudents" let-i="index">
                            <tr>
                                <td scope="row"> {{i+1}}</td>
                                <td>{{numberOfStudents.date}} </td>
                                <td>{{numberOfStudents.subgroup}}</td>

                                <td>{{numberOfStudents.quantity}}</td>
                                <td >
                                    <button class="btn btn-danger btn-sm" title="Удалить"
                                            (click)="onDeleteStudents(numberOfStudents.id)">
                                        Удалить
                                    </button>
                                </td>
                            </tr>
                        </ng-template>

                        </tbody>
                    </table>
                </div>
            </div>

        </form>
    </div>
</div>
