<div class="container">
    <div class="col-md">
        <label>Назначение роли пользователю</label>
        <hr>
        <p><b>Пользователь:</b> {{username}}</p>

        <form [formGroup]="userRoleForm">


            <div class="form-group">
                <label>Роль </label>
                <ng-select
                        [items]="roles"
                        bindLabel="value"

                        [multiple]="false"
                        placeholder="Выберите роль пользователя"
                        clearAllText="Clear"
                        formControlName="role"
                >
                </ng-select>
            </div>

            <button type="submit" [disabled]="!userRoleForm" (click)="onAdd()" class="btn btn-info">Добавить</button>
            <button type="button" class="btn btn-warning"  (click)=" gotoUsersList()">Отмена</button>

            <div class="form-row">
                <div class="col-md form-group">
                    <label>Текущие записи:</label>
                    <table class="table table-active">
                        <thead class="thead-light">
                        <tr>
                            <th>№</th>
                            <th>Роль</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <ng-template ngFor let-role [ngForOf]="userRoles" let-i="index">
                            <tr>
                                <td scope="row"> {{i+1}}</td>
                                <td>{{role.value}} </td>
                                <td >
                                    <button class="btn btn-danger btn-sm" title="Удалить"
                                            (click)="onDeleteRole(role.id)">
                                        Удалить
                                    </button>
                                </td>
                            </tr>
                        </ng-template>

                        </tbody>
                    </table>
                </div>
            </div>

        </form>
    </div>
</div>
